@use "sass:map";
@use "settings" as *;

body {
  > main {

    svg {
      display: block;
      width: 4rem;
      height: 4rem;
      margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);
      margin-inline: auto;
    }

    form {
      max-width: map.get(map.get($breakpoints, "md"), "viewport");
      margin-inline: auto;

      label {
        color: var(#{$css-var-prefix}muted-color);
      }


      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
