// Custom colors
// --------------------
$primary-500: #E91E63;
$primary-600: #D81B60;
$primary-700: #C2185B;


// Config
// --------------------

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: true;

// Enable .container and .container-fluid
$enable-class-container: false;

// Enable .classes
$enable-classes: false;

// Enable overriding with !important (used for <article>, `reduce-motion`, [type="search"])
$enable-important: false;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: null,
  xl: null
);


// Pico Lib
// --------------------
@import "../../lib/pico/scss/pico";


// Custom Styles
// --------------------
@import "custom";
