/**
 * Custom theme
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap");
:root {
  --font-family: 'Open Sans', sans-serif;
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: 'Raleway', sans-serif;
  --font-weight: 800;
}

h1 {
  --font-size: 2.5rem;
  --typography-spacing-vertical: 2.5rem;
}

h2 {
  --font-size: 2rem;
  --typography-spacing-vertical: 2rem;
}

h3 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 1.75rem;
}

h4 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 1.5rem;
}

h5 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 1.25rem;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a[role="button"] {
  --font-weight: 600;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  color-scheme: light;
  --background-color: #FFF;
  --color: #39566a;
  --h1-color: #042c49;
  --h2-color: #0f4267;
  --h3-color: #215a83;
  --h4-color: #3a7098;
  --h5-color: #5986a6;
  --h6-color: #7f9aad;
  --muted-color: #668499;
  --muted-border-color: #ebf0f4;
  --primary: #0eaaaa;
  --primary-hover: #078383;
  --primary-focus: rgba(14, 170, 170, 0.125);
  --primary-inverse: #FFF;
  --secondary: #4e6d83;
  --secondary-hover: #39566a;
  --secondary-focus: rgba(78, 109, 131, 0.125);
  --secondary-inverse: #FFF;
  --contrast: #172936;
  --contrast-hover: #000;
  --contrast-focus: rgba(78, 109, 131, 0.125);
  --contrast-inverse: #FFF;
  --mark-background-color: #fff2ca;
  --mark-color: #513a28;
  --ins-color: #388E3C;
  --del-color: #C62828;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0.0625rem 0.1875rem rgba(23, 41, 54, 0.1), 0 0.0625rem 0.125rem rgba(23, 41, 54, 0.1);
  --button-hover-box-shadow: 0 0.1875rem 0.3750rem rgba(23, 41, 54, 0.05), 0 0.1875rem 0.375rem rgba(23, 41, 54, 0.1);
  --form-element-background-color: #d8e2e9;
  --form-element-border-color: #d8e2e9;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #d1dde5;
  --form-element-disabled-border-color: transparent;
  --form-element-invalid-border-color: transparent;
  --form-element-invalid-active-border-color: transparent;
  --form-element-valid-border-color: transparent;
  --form-element-valid-active-border-color: transparent;
  --switch-background-color: #b5c7d4;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #d1dde5;
  --range-active-border-color: #b5c7d4;
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color:#f5f8fa;
  --code-background-color: #ebf0f4;
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #b34d80;
  --code-property-color: #3d888f;
  --code-value-color: #998866;
  --code-comment-color: #9ab1c1;
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);
  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow: 0 0.125rem 1rem rgba(23, 41, 54, 0.04), 0 0.125rem 2rem rgba(23, 41, 54, 0.08), 0 0 0 0.0625rem rgba(23, 41, 54, 0.024);
  --card-sectionning-background-color: #fafbfc;
  --progress-background-color: #d1dde5;
  --progress-color: var(--primary);
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);
  --icon-chevron:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(57, 86, 106, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-date:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(57, 86, 106, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  --icon-time:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(57, 86, 106, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-search:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(57, 86, 106, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-minus:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --icon-valid:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(56, 142, 60, 0.999)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-invalid:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(198, 40, 40, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    color-scheme: dark;
    --background-color: #0e1a21;
    --color: #b5c7d4;
    --h1-color: #e3f2fc;
    --h2-color: #c3dff4;
    --h3-color: #a9c9df;
    --h4-color: #89b3d1;
    --h5-color: #759cb8;
    --h6-color: #668499;
    --muted-color: #668499;
    --muted-border-color: #1b2e3c;
    --primary: #0eaaaa;
    --primary-hover: #17cfcf;
    --primary-focus: rgba(14, 170, 170, 0.25);
    --primary-inverse: #FFF;
    --secondary: #4e6d83;
    --secondary-hover: #668499;
    --secondary-focus: rgba(102, 132, 153, 0.25);
    --secondary-inverse: #FFF;
    --contrast: #ebf0f4;
    --contrast-hover: #FFF;
    --contrast-focus: rgba(102, 132, 153, 0.25);
    --contrast-inverse: #000;
    --mark-background-color: #ccc388;
    --mark-color: #0e1a21;
    --ins-color: #388E3C;
    --del-color: #C62828;
    --blockquote-border-color: var(--muted-border-color);
    --blockquote-footer-color: var(--muted-color);
    --button-box-shadow: 0 0.0625rem 0.1875rem #000, 0 0.0625rem 0.125rem #000;
    --button-hover-box-shadow: 0 0.1875rem 0.3750rem #000, 0 0.1875rem 0.375rem #000;
    --form-element-background-color: #1b2e3c;
    --form-element-border-color: #1b2e3c;
    --form-element-color: var(--color);
    --form-element-placeholder-color: var(--muted-color);
    --form-element-active-background-color: var(--form-element-background-color);
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --form-element-disabled-background-color: #263e4f;
    --form-element-disabled-border-color: transparent;
    --form-element-invalid-border-color: transparent;
    --form-element-invalid-active-border-color: transparent;
    --form-element-valid-border-color: transparent;
    --form-element-valid-active-border-color: transparent;
    --switch-background-color: #304a5d;
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --range-border-color: #1f3342;
    --range-active-border-color: #263e4f;
    --range-thumb-border-color: var(--background-color);
    --range-thumb-color: var(--secondary);
    --range-thumb-hover-color: var(--secondary-hover);
    --range-thumb-active-color: var(--primary);
    --table-border-color: var(--muted-border-color);
    --table-row-stripped-background-color: rgba(102, 132, 153, 0.05);
    --code-background-color: #14242f;
    --code-color: var(--muted-color);
    --code-kbd-background-color: var(--contrast);
    --code-kbd-color: var(--contrast-inverse);
    --code-tag-color: #a65980;
    --code-property-color: #599fa6;
    --code-value-color: #8c8473;
    --code-comment-color: #446176;
    --accordion-border-color: var(--muted-border-color);
    --accordion-active-summary-color: var(--primary);
    --accordion-close-summary-color: var(--color);
    --accordion-open-summary-color: var(--muted-color);
    --card-background-color: #111f28;
    --card-border-color: #0e1a21;
    --card-box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.06), 0 0.125rem 2rem rgba(0, 0, 0, 0.12), 0 0 0 0.0625rem rgba(0, 0, 0, 0.036);
    --card-sectionning-background-color: #14242f;
    --progress-background-color: #1f3342;
    --progress-color: var(--primary);
    --tooltip-background-color: var(--contrast);
    --tooltip-color: var(--contrast-inverse);
    --icon-chevron:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-date:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
    --icon-time:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-search:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
    --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-minus:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
    --icon-valid:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(46, 125, 50, 0.999)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-invalid:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(183, 28, 28, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  }
}

[data-theme="dark"] {
  color-scheme: dark;
  --background-color: #0e1a21;
  --color: #b5c7d4;
  --h1-color: #e3f2fc;
  --h2-color: #c3dff4;
  --h3-color: #a9c9df;
  --h4-color: #89b3d1;
  --h5-color: #759cb8;
  --h6-color: #668499;
  --muted-color: #668499;
  --muted-border-color: #1b2e3c;
  --primary: #0eaaaa;
  --primary-hover: #17cfcf;
  --primary-focus: rgba(14, 170, 170, 0.25);
  --primary-inverse: #FFF;
  --secondary: #4e6d83;
  --secondary-hover: #668499;
  --secondary-focus: rgba(102, 132, 153, 0.25);
  --secondary-inverse: #FFF;
  --contrast: #ebf0f4;
  --contrast-hover: #FFF;
  --contrast-focus: rgba(102, 132, 153, 0.25);
  --contrast-inverse: #000;
  --mark-background-color: #ccc388;
  --mark-color: #0e1a21;
  --ins-color: #388E3C;
  --del-color: #C62828;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0.0625rem 0.1875rem #000, 0 0.0625rem 0.125rem #000;
  --button-hover-box-shadow: 0 0.1875rem 0.3750rem #000, 0 0.1875rem 0.375rem #000;
  --form-element-background-color: #1b2e3c;
  --form-element-border-color: #1b2e3c;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #263e4f;
  --form-element-disabled-border-color: transparent;
  --form-element-invalid-border-color: transparent;
  --form-element-invalid-active-border-color: transparent;
  --form-element-valid-border-color: transparent;
  --form-element-valid-active-border-color: transparent;
  --switch-background-color: #304a5d;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #1f3342;
  --range-active-border-color: #263e4f;
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: rgba(102, 132, 153, 0.05);
  --code-background-color: #14242f;
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #a65980;
  --code-property-color: #599fa6;
  --code-value-color: #8c8473;
  --code-comment-color: #446176;
  --accordion-border-color: var(--muted-border-color);
  --accordion-active-summary-color: var(--primary);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);
  --card-background-color: #111f28;
  --card-border-color: #0e1a21;
  --card-box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.06), 0 0.125rem 2rem rgba(0, 0, 0, 0.12), 0 0 0 0.0625rem rgba(0, 0, 0, 0.036);
  --card-sectionning-background-color: #14242f;
  --progress-background-color: #1f3342;
  --progress-color: var(--primary);
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);
  --icon-chevron:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-date:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  --icon-time:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-search:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(154, 177, 193, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-minus:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --icon-valid:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(46, 125, 50, 0.999)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-invalid:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(183, 28, 28, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
